@use "./variables" as *;

#history {
  display: none;
  text-align: right;
  h2 {
    margin: 10px;
    align-self: flex-end;
  }
  p {
    margin: 10px;
    border: 5px solid $colour-primary;
    padding: 5px;
    background-color: $colour-tertiary;
    &:hover {
      filter: brightness(125%);
    }
  }
}
