@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap'); 
$font-primary:'Share Tech Mono',Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
$colour-primary: rgb(1, 0, 46);
$colour-secondary: rgb(246, 255, 254);
$colour-tertiary: rgb(1, 0, 85);
$colour-nav-button: rgb(0, 162, 255);
$colour-clear-button: rgb(255, 166, 0);


* {
  margin: 0;
  padding: 0;;
  font-family: $font-primary;
  font-size: 1.3em;
}

body {
  background-color: $colour-tertiary;
  color: $colour-secondary;
}

.header{
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  &__title {
    align-self: center;
    padding: 20px;
  }
  &__help-button{
    position: absolute;
    margin: 5px;
    background-color: $colour-nav-button;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.help-menu {
  display: none;
  position: relative;
  font-size: 0.3em;
  background-color: $colour-nav-button;
  padding: 40px;
  margin: 5px;
  border-radius: 10px;
  ul {
    li {
      margin-top: 5px;
    }
  }
}

.show {
  display: block;
}

.desktop {
  display: none;
  ul {
    font-size: 0.7em;
  }
}

.button-container {
  background-color: $colour-primary;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
  gap: 15px;
  text-align: center;
  width: 100vw;
  height: 65vh;
  border-top: 2px solid $colour-nav-button;
  box-sizing: border-box;
  cursor: default;
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &--navigation {
      color: $colour-nav-button;
    }
    &--clear{
      color: $colour-clear-button;
    }

    &:hover {
      filter: brightness(200%);
      background-color: $colour-primary;
    }
  }
}

.brackets {
  display: flex;
  justify-content: space-evenly;
  font-size: 1em;

}

.output {
  text-align: right;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100vw;
  & * {
    height: 10vh;
    padding-right: 10px;
    white-space: nowrap;
  }
}

#history {
  display: none;
  text-align: right;
  p {
    margin: 10px;
    border: 5px solid $colour-primary;
    padding: 5px;
    background-color: $colour-tertiary;
    &:hover {
      filter: brightness(125%);
    }
  }
}


@media screen and (min-width: 768px) {
  body{
    display: flex;
    overflow-y: hidden;
  }

  #calculator {
    max-width: 481px;
    border-right: 2px solid $colour-nav-button;
  }

  .output{
    max-width: 481px;
  }

  .button-container{
    width: auto;
  }
  #history{
    display: flex;
    flex-direction: column-reverse;

    justify-content: flex-end;
    flex-wrap: wrap;
  }

  .desktop {
    display: list-item;
  }

  .help-menu {
    left: 500px;
    top: -100px;
  }
}