@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap'); 
$font-primary:'Share Tech Mono',Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
$colour-primary: rgb(1, 0, 46);
$colour-secondary: rgb(246, 255, 254);
$colour-tertiary: rgb(1, 0, 85);
$colour-nav-button: rgb(0, 162, 255);
$colour-clear-button: rgb(255, 166, 0);


* {
  margin: 0;
  padding: 0;;
  font-family: $font-primary;
  font-size: 1.3em;
}

body {
  background-color: $colour-tertiary;
  color: $colour-secondary;
}

.header{
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  &__title {
    align-self: center;
    padding: 20px;
  }
}

.button-container {
  background-color: $colour-primary;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
  gap: 15px;
  text-align: center;
  width: 100vw;
  height: 65vh;
  border-top: 2px solid $colour-nav-button;
  box-sizing: border-box;
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    &--navigation {
      color: $colour-nav-button;
    }
    &--clear{
      color: $colour-clear-button;
    }

    &:hover {
      filter: brightness(200%);
      background-color: $colour-primary;
    }
  }
}

.brackets {
  display: flex;
  justify-content: space-evenly;
  font-size: 1em;

}

.output {
  text-align: right;
  & * {
    height: 10vh;
    padding-right: 10px;
  }
}