@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Share Tech Mono", Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
  font-size: 1.3em;
}

body {
  background-color: #010055;
  color: #f6fffe;
}

.header {
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.header__title {
  align-self: center;
  padding: 20px;
}
.header__help-button {
  position: absolute;
  margin: 5px;
  background-color: #00a2ff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.help-menu {
  display: none;
  position: relative;
  font-size: 0.3em;
  background-color: #00a2ff;
  padding: 40px;
  margin: 5px;
  border-radius: 10px;
}
.help-menu ul li {
  margin-top: 5px;
}

.show {
  display: block;
}

.desktop {
  display: none;
}
.desktop ul {
  font-size: 0.7em;
}

.button-container {
  background-color: #01002e;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr/1fr 1fr 1fr 1fr;
  gap: 15px;
  text-align: center;
  width: 100vw;
  height: 65vh;
  border-top: 2px solid #00a2ff;
  box-sizing: border-box;
  cursor: default;
}
.button-container__button {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.button-container__button--navigation {
  color: #00a2ff;
}
.button-container__button--clear {
  color: #ffa600;
}
.button-container__button:hover {
  filter: brightness(200%);
  background-color: #01002e;
}

.brackets {
  display: flex;
  justify-content: space-evenly;
  font-size: 1em;
}

.output {
  text-align: right;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100vw;
}
.output * {
  height: 10vh;
  padding-right: 10px;
  white-space: nowrap;
}

#history {
  display: none;
  text-align: right;
}
#history p {
  margin: 10px;
  border: 5px solid #01002e;
  padding: 5px;
  background-color: #010055;
}
#history p:hover {
  filter: brightness(125%);
}

@media screen and (min-width: 768px) {
  body {
    display: flex;
    overflow-y: hidden;
  }

  #calculator {
    max-width: 481px;
    border-right: 2px solid #00a2ff;
  }

  .output {
    max-width: 481px;
  }

  .button-container {
    width: auto;
  }

  #history {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  .desktop {
    display: list-item;
  }

  .help-menu {
    left: 500px;
    top: -100px;
  }
}